        body {
            font-family: Arial, sans-serif;
            background :linear-gradient(45deg,rgba(255, 166, 0, 0.568),rgba(230, 230, 22, 0.892),rgba(255, 0, 0, 0.503), #ff008c99, #0026ff);
              /*
            
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa7St8zOCUHjfztJUTWp6jNJmvskKaSptniA&usqp=CAU);
            background-repeat: no-repeat;
          
            background-position: center;
            background-size: cover;
            background-origin: initial;
            background-clip: initial;    */
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }



        h1 {
            margin-top: 0;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            background: linear-gradient(to right,orange,yellow, #fa0b8f, #0026ffea);
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:disabled {
            background: linear-gradient(to right,rgb(146, 255, 119),rgb(211, 211, 63));
            cursor: not-allowed;
        }

        p {
            margin-top: 20px;
            font-size: 18px;
        }
        @media screen and (max-width: 55em) {
        .message {
            display: block;
        }
        .content {
            flex-direction: column;
            height: auto;
            min-height: 0;
            padding-bottom: 10em;
        }
        .content--fixed {
            position: relative;
            z-index: 10000;
            display: block;
            padding: 0.85em 0.5em 2em;
        }
        .codrops-header {
            flex-direction: column;
            align-items: center;
        }
        .codrops-header__title {
            padding-bottom: 0.25em;
            font-size: 1.5em;
            text-align: center;
        }

        .github {
            display: none;
        }
        .codrops-links {
            margin: 0;
        }
        .menu {
            font-size: 2.75em;
            margin: 0 auto;
            align-items: center;
        }
        .content__inner {
            margin-top: 12em;
        }
        .content__close {
            top: 15em;
        }
    }


    /* Header */
    .codrops-header {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-items: center;
        align-self: start;
        grid-area: header;
        justify-self: start;
    }

    .codrops-header__title {
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 1em;
    }

    /* Top Navigation Style */
    .codrops-links {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 1em 0 0;
        text-align: center;
        white-space: nowrap;
    }
    .content2 {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            min-height: auto;
    }
    .container {
            text-align: center;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 80%;
    }


    .info {
            margin: 0;
            text-align: center;
        }


        .info {
        margin: 0;
        color: var(--color-info);
        grid-area: info;
        align-self: end;
        justify-self: end;
    }


