<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="static/login.css" />



</head>
<body>
    <section>
        <div>
        <h1>login page</h1>
        <p><a href="{{ url_for('initial') }}">BACK</a></p>
        </div>
    </section>
    <section>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <label for="remember">Remember Me:</label>
            <input type="checkbox" id="remember" name="remember">
            
            <input type="submit" value="Login">
            <div class="container" style="background-color:#f1f1f1">
              <a type="button" href=" {{ url_for('initial') }} " class="btm">Cancel </a>
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>
    </section>
</body>
</html>
